In [1]:
import pandas as pd

In [2]:
import numpy as np

data analysis
1.description
2. diagonsis
3. prediction
4. prescription/action

In [5]:
cols=["user_id","movie_id","rating","ts"]

In [6]:
#Read the file
df=pd.read_csv("u.data",sep="\t",names=cols)

In [8]:
df

        user_id  movie_id  rating         ts
0             0        50       5  881250949
1             0       172       5  881250949
2             0       133       1  881250949
3           196       242       3  881250949
4           186       302       3  891717742
...         ...       ...     ...        ...
99998       880       476       3  880175444
99999       716       204       5  879795543
100000      276      1090       1  874795795
100001       13       225       2  882399156
100002       12       203       3  879959583

[100003 rows x 4 columns]

In [9]:
item_cols=['movie_id','title']+[str(i) for i in range(22)]

In [11]:
df1=pd.read_csv('u.item',encoding="ISO-8859-1",sep="|",names=item_cols)[['movie_id','title']+[str(i) for i in range(22)]

SyntaxError: unexpected EOF while parsing (3683755584.py, line 1)

In [12]:
df1

NameError: name 'df1' is not defined

In [14]:
# Exploratory data analysis

In [15]:
df.head(2)

   user_id  movie_id  rating         ts
0        0        50       5  881250949
1        0       172       5  881250949

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   100003 non-null  int64
 1   movie_id  100003 non-null  int64
 2   rating    100003 non-null  int64
 3   ts        100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [17]:
df.describe(include='all')

             user_id       movie_id         rating            ts
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

In [18]:
df.columns

Index(['user_id', 'movie_id', 'rating', 'ts'], dtype='object')

In [19]:
df["rating"].unique()

array([5, 1, 3, 2, 4], dtype=int64)

In [20]:
df["rating"].nunique()

5

In [21]:
df["user_id"].nunique()

944

In [9]:
rating=pd.dataframe(movie.groupby('title')\
                    [''rating'].mean().sort_values(ascending=false))

SyntaxError: invalid syntax (2256883976.py, line 2)

In [10]:
rating[''count]=movie['title'].value_counts()

SyntaxError: invalid syntax (3057591693.py, line 1)