In [1]:
import pandas as pd

In [2]:
import numpy as np

data analysis
1.description
2. diagonsis
3. prediction
4. prescription/action

In [29]:
cols=["user_id","movie_id","rating","ts"]

In [30]:
#Read the file
df=pd.read_csv("u.data",sep="\t",names=cols)

In [31]:
df

        user_id  movie_id  rating         ts
0             0        50       5  881250949
1             0       172       5  881250949
2             0       133       1  881250949
3           196       242       3  881250949
4           186       302       3  891717742
...         ...       ...     ...        ...
99998       880       476       3  880175444
99999       716       204       5  879795543
100000      276      1090       1  874795795
100001       13       225       2  882399156
100002       12       203       3  879959583

[100003 rows x 4 columns]

In [32]:
item_cols=['movie_id','title']+[str(i) for i in range(22)]

In [33]:
df1=pd.read_csv('u.item',encoding="ISO-8859-1",sep="|",names=item_cols)

In [34]:
df1

,movie_id,title,0,1,2,3,4,5,6,7,...,12,13,14,15,16,17,18,19,20,21
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
# Exploratory data analysis

In [36]:
df.head(2)

   user_id  movie_id  rating         ts
0        0        50       5  881250949
1        0       172       5  881250949

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   100003 non-null  int64
 1   movie_id  100003 non-null  int64
 2   rating    100003 non-null  int64
 3   ts        100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [38]:
df.describe(include='all')

             user_id       movie_id         rating            ts
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

In [39]:
df.columns

Index(['user_id', 'movie_id', 'rating', 'ts'], dtype='object')

In [40]:
df["rating"].unique()

array([5, 1, 3, 2, 4], dtype=int64)

In [41]:
df["rating"].nunique()

5

In [42]:
df["user_id"].nunique()

944

In [48]:
movie=pd.merge(df,df1,on='movie_id')
movie.head()

,user_id,movie_id,rating,ts,title,0,1,2,3,4,...,12,13,14,15,16,17,18,19,20,21
0,0,50,5,881250949,Star Wars (1977),01-Jan-1977,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,0,1,...,0,0,0,0,0,1,1,0,1,0
1,290,50,5,880473582,Star Wars (1977),01-Jan-1977,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,0,1,...,0,0,0,0,0,1,1,0,1,0
2,79,50,4,891271545,Star Wars (1977),01-Jan-1977,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,0,1,...,0,0,0,0,0,1,1,0,1,0
3,2,50,5,888552084,Star Wars (1977),01-Jan-1977,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,0,1,...,0,0,0,0,0,1,1,0,1,0
4,8,50,5,879362124,Star Wars (1977),01-Jan-1977,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,0,1,...,0,0,0,0,0,1,1,0,1,0

In [50]:
monie.drop('ts',axis=1,inplace=True)

NameError: name 'monie' is not defined

In [49]:
rating=pd.DataFrame(movie.groupby('title')\
                    ['rating'].mean().sort_values(ascending=false))

NameError: name 'false' is not defined

In [28]:
rating['count']=movie['title'].value_counts()

NameError: name 'movie' is not defined

In [ ]:
ratings.head(20)

In [ ]:
rating.sort_values(by='count',ascending=False).head(20)

In [ ]:
movie_pivot=movie.pivot_table(
    index="user_id"
    columns="title"
    values="rating"
    )
movie_pivot

In [ ]:
movie_selected='Star Wars (1977)'

In [ ]:
ms_rates=movie_pivot[movie_selected]
ms_rates.head()

In [ ]:
corrs=movie_pivot.corrwith(ms_rates)
corrs.head()

In [ ]:
corrs.sort_values(ascending=False).head(20)

In [45]:
corrs_df=pd.DataFrame(corrs,columns=['Ã‡orrelation'])
corrs_df.head()

NameError: name 'corrs' is not defined

In [46]:
corrs_df['rating']=ratings['rating']
corrs_df['count']=ratings['count']

NameError: name 'ratings' is not defined

In [ ]:
corrs_df[corrs_df['count']>50].sort_values(
    by='correlation',ascending=False).head(10)

In [ ]:
top_recom=corrs_df[corrs_df['count']>50].sort_values(
    by='correlation',ascending=False).head(3).index)

In [ ]:
top_recom.remove(movie_selected)

In [ ]:
top_recom

In [51]:
def movie_recommend(movie_

SyntaxError: unexpected EOF while parsing (1822957291.py, line 1)